<div class="text-center">
  <h1 class="title my-5">URL Shortener</h1>
  <i class="fas fa-link fa-9x my-5"></i>

  <form action="/" method="POST">

    <input type="url" id="url-input" name="url" placeholder="Input URL here" style="width: 500px;" value="{{url}}"
      required>

    <div class="mt-3">
      {{#unless shortUrl}}<input class="btn btn-outline-primary" type="submit" value="Shorten">{{/unless}}
      <!-- The button used to copy the text -->
      {{#if shortUrl}}<a onclick="copyOnClick()" id="copy-button" class="btn btn-outline-success">Copy</a>{{/if}}
    </div>

  </form>
</div>