<div class="text-center">
  <h1 class="title my-5">URL Shortener</h1>
  <i class="fas fa-link fa-9x my-5"></i>

  <form action="/" method="POST">

    <input type="url" name="url" placeholder="Input URL here" style="width: 500px;" required>

    <div class="mt-3">
      <input class="btn btn-outline-primary" type="submit" value="Shorten">
    </div>

  </form>
</div>